<button (click)="addNewCompany()">Add new Company</button><br /><br />
<div [formGroup]="form">
  <div formArrayName="arr">
    <div *ngFor="let item of arrayValue().controls; let i = index">
      <div [formGroupName]="i">
        <label>Company Name: </label>
        <br />

        <input formControlName="name" />
        <input formControlName="company" />

        <span><button (click)="deleteCompany(i)">Delete Company</button></span>
      </div>
    </div>
  </div>
  <br />
</div>

<pre>{{ form.value | json }}</pre>